<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="film" size="large"> </ion-icon>
    </ion-buttons>
    <ion-title class="judul">Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let item of data">
          <img
            src="https://image.tmdb.org/t/p/w500/{{ item.poster_path }}"
            width="100px"
            alt=""
            class="img"
          />
          <div class="text">
            <h2>{{ item.original_title }}</h2>
            <p id="rating" [style.color]="changeColor(item.vote_average)">
              Rating : {{ item.vote_average }}
            </p>
            <p class="date">
              Release : {{ item.release_date | date:'dd MMMM YYYY' }}
            </p>
          </div>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
